@charset "UTF-8";
*{
	padding:0;
	margin:0;
}
.fd-header{
	height:50px;
	width:100%;
	border-bottom: 2px solid black;
}
.fd-header span{
	font-size:20px;
	float:right;
	line-height:50px;
	margin-right:100px;
}
.fd-container-left{
	background-color: aliceblue;
	width:11%;
	height:910px;
	float:left;
	border-right:2px solid black;

	
}
.fd-container-left ul{
    list-style-type: none;
}
.fd-container-left li{
	width:200px;
	height:60px;
	text-align: center;
	line-height:60px;
	margin:0 auto;
	color:brown;
	border-bottom:2px solid black;
    margin-top:10px;
    font-size:20px;
}
.fd-container-right{
	float:left;
	width:88.8%;
	height:910px;
}
