@charset "UTF-8";
*{
	margin:0;
	padding:0
}
.fd-nav h1{
	color: red;
	text-align: center;
	margin-top: 250px;
}
.fd-contanier{
	float:left;
	font-size:20px;
	width:100%;
	height:500px;
    margin:0 auto;
	text-align: center;
	line-height: 100px
}
input{
	display: block;
	margin:0 auto;
	height:30px
}
button {
	height:50px;
	width:100px
}